body{
    background-color:#111111;
    font-size:30px;
    color:#fff;
}
.simple-login-container{
    width:300px;
    max-width:100%;
    margin:50px auto;
}
.simple-login-container h2{
    text-align:center;
    font-size:30px;
    font-family: "Poppins", sans-serif;
    color: #CC3A5A;
}


.footer {
    padding: 65px 0 40px;
    background: #111111;
    font-size: 16px;
    line-height: 29px;
    color: #FFF9F5;
    
  }

  .copyright a {
    color: #fff;
    display: inline-block;
  }

  .btn-main {
    border-radius: 0;
    background: #CC3A5A;
    border-color: #F08080;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 11px 18px;
    transition: 0.5s;
    align-self: center;
  }

  .btn-main:hover, .btn-main:focus {
    color: #FFF9F5;
    border-color: transparent;
    background: #960233;
  }

.label{
    font-family: "Poppins", sans-serif;
    text-align: left;
}

.row{
    text-align: left;
}
